<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ctx="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <ctx:component-scan base-package="it.haslearnt" annotation-config="true"/>

    <util:properties id="cassandraProperties" location="classpath:cassandra.properties" />

    <bean id="cassandraCluster" class="org.scale7.cassandra.pelops.Cluster">
        <constructor-arg name="nodes" value="#{cassandraProperties['connection.host']}"/>
        <constructor-arg name="thriftPort" value="#{cassandraProperties['connection.port']}"/>
    </bean>

    <bean id="pelopsPool" class="it.haslearnt.CassandraConnectionProvider">
        <property name="cluster" ref="cassandraCluster"/>
        <property name="keyspace" value="#{cassandraProperties['keyspace']}"/>
        <property name="clean" value="true"/>
    </bean>

</beans>
